  <%= link_to(:action=>:tag,:tag_id=>tag.name) do %>
    <span class="label label-success"><%= tag.name%></span>
  <% end %>
  <%= link_to 'x', {
                    :action =>"remove_tag",
                    :id=> @post.id,
                    :tag_id => tag.name,
                    :confirm => 'Are you sure to delete the tag?',
                    :controller=>'posts',
                    :remote=>true
                   }, :class=>'remove_tag'%>