  <%= link_to(:action=>:tag,:tag_id=>tag.name) do %>
    <span class="label label-success"><%= tag.name%></span>
  <% end %>
  <%= link_to('x', "/posts/#{params[:id]}/remove/#{tag.name}",:remote => true )%>