/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require social-share-button
*/
body{background:url(bg.png) left top repeat;}
aa a:hover{background:none;text-decoration:none!important}
.fl{float:left;margin-right:10px;}
.fr{float:right;}
.logo{line-height:20px;}
.loginout{float:right;line-height:20px;}
.loginout p{margin:0;padding:0;margin-left:10px;}
.clear{clear:both;}

nav{width:100%;min-width:960px}
nav li{float:left;margin-left:20px;list-style:none;}
/*.navbar-fixed-top, .navbar-fixed-bottom{z-index:-10!important}*/
/*.nav li a{background: #2d2d2d!important;}*/
/*.nav li a:hover{font-weight:bold;}*/
/*.navbar-inner{background:#2d2d2d!important}*/
/*.dropdown-menu li a{background: #fff!important;}*/

h3 a{text-decoration:none;}
.articles{border-bottom: 1px #aaa solid;}
.sed{border:1px #aaa solid;padding:5px;border-radius:5px;display:inline}
.sed:hover{border:1px rgba(82,168,236,0.6) solid;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(82,168,236,0.6);}

.body{width:1000px;margin:50px auto;}

.comment-wrap{border:1px #ccc solid;background: #eee;border-radius:5px;min-height:100px;box-shadow: 0 1px 2px rgba(0,0,0,0.15);padding-top:1px;}
.comment{width:90%;margin:0 auto;border-bottom:1px #aaa dotted;margin-top:10px;overflow:hidden;}
.comment-c{margin-left:20px;margin-top:5px;}
section{margin-top:20px;}

.tag_post{padding:10px;margin:0;}
.tag_post:hover{border:1px rgba(82,168,236,0.6) solid;
	box-shadow:0 1px 1px rgba(0,0,0,0.075) inset, 0 0 2px rgba(82,168,236,0.6);
    background-image: -moz-linear-gradient(center top,#f0f0f0 0,#e6e6e6 100%)
}

body{padding:0;margin:0}
.gray{color:#aaa}
.commentbody{height:100px;}

.css1{font-size:1.0em;}
.css2{font-size:1.2em;}
.css3{font-size:1.4em;}
.css4{font-size:1.6em;}

.tags *{float:left;}
.tags a{margin-left:5px;}

#add_tag{display:none;}
.add_tag{float:left;margin-left:5px;}
.add_tag:hover{cursor: pointer;box-shadow:0 0 8px rgba(82,168,236,0.6) inset;}
.tag_field{margin-bottom: 0;height:17px;}

a.remove_tag{z-index:1000;margin-top:-10px;margin-left:0;}
.clear-fix:after{content:"";clear:both;display:block;height:0;visiblity:hidden;}


.add_reply_form{display: none;}
.replyshow{color:#aaa;margin-top:5px;padding:10px;}
.replyshow span{color: #468847;}

.replyform{display: none}

video{margin:0;padding:0;margin-bottom:10px;-moz-transation:all 1s ease-in-out;}

.rightside section{padding-bottom:20px;box-shadow:0 1px 2px rgba(0,0,0,0.15);background: #fff;}

.rightside section.recent_post{background: #a00;}
.rightside section#tagscloud{background: #0a0;}
.rightside section.recent_post a, .rightside section#tagscloud a{color:#fff;}

.recentitle{-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	color:#fff;
	font-size:15px;
	margin-bottom:20px;height:30px;text-align: center;
	border-bottom: 1px #ccc solid;
    overflow:hidden;
}
.recentitle span{margin-top:0;display:block;-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;color:#fff;}


#tagscloud:hover span{margin-top:-25px;}
.rightside section.recent_post:hover span{margin-top:-25px;}

.rightside p{margin-left:10px;}

#overlay{display:none;opacity:0;}

#video{width: 633px;}

.share_self{}
section.weibo{padding-bottom:0;}

.pagination{padding-top: 18px;padding-left: 18px;margin-bottom:10px!important; }

.digg_pagination a:hover{border:1px #ddd solid!important;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(82,168,236,0.9);}

.rightside {margin-top:10px;}

h1{
-moz-animation-duration:3s;-moz-animation-name:slidein;
-webkit-animation-duration:3s;-webkit-animation-name:slidein;
-moz-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;
}
@-moz-keyframes slidein{
	from{margin-left:100%;width:400%;color:#ccc;}
	to{margin-left:0%;width:100%;}
}
@-webkit-keyframes slidein{
	from{margin-left:100%;width:400%;color:#ccc;}
	to{margin-left:0%;width:100%;}
}
h1:hover{-moz-transform:translatex(10px);-webkit-transform:scale(1.1);}

p:hover i{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);}

i{-moz-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;
margin-top:2px;}

.css2:hover{background: #fff;}
.css2{-moz-transition:all 0.5s ease-in-out;display:block;float:left;margin-right:5px;}
/*#activetag{box-shadow: 0 1px 2px rgba(0,0,0,0.15);font-size:26px;background: #fff;}*/

/*login*/
#custom{display:none;opacity:0;}
#loginpage{background-size:cover;background:url(pattern.png),url(login.jpg) no-repeat;
	width:100%;z-index:5000;overflow:hidden;margin:0;padding:0;}

.loginform{width:300px;margin-left:40%;margin-top:170px;float:left;
-moz-transition:all 2s ease-in-out;-webkit-transition:all 2s ease-in-out;}

.loginform:hover{opacity:1;}


#activetag{background: #aaa;padding:3px;z-index:1100}
a#activetag:hover{text-decoration: none;}
.red{color:#f00}


#linkpost {padding:10px;display:block;float:left;
	border-radius:50%;width:50px;height:50px;line-height:45px;
    margin-right:150px;margin-top:200px;float:right;box-shadow:0 3px 8px #aaa, 0 2px 3px #fff inset;
    background: -moz-linear-gradient(center top, #f7f7f7, #e7e7e7);
    text-align:center;font-weight:bold;
}

#linkpost:hover{text-decoration: none;
background: -moz-linear-gradient(center top, #fafafa, #eaeaea);
}
#linkpost:before{
    display:block;
	border-radius:50%;width:100px;height:100px;
    float:left;left:-16px;top:-16px;float:left;
    box-shadow:0 8px 48px #ddd inset;
    text-align:center;
    content:"";z-index:-1;
}
#linkpost:after{
	content:"posts"
}


#tag_id{margin-bottom: 0!important;}

/*loginform*/
#user_email{height:25px;}
#user_password{height:25px;}
.loginform form{background:-moz-linear-gradient(to bottom,#eee,#ddd 50%,#eee);
border-radius:4px;padding:20px;
}


/*skj*/
