<h1><%= @command.command %></h1>
<p class="command_name"><span>命令:</span><%= @command.name %></p>
<p class="command_desc"><span>描述:</span><%= @command.desc %></p>
<p class="command_detail"><span>详细:</span><%= @command.detail %></p>